ImageIO==2.37.3
joblib==1.5.3
lazy-loader==0.5
networkx==3.4.2
numpy==1.26.4
packaging==26.2
pillow==12.2.0
PyWavelets==1.8.0
scikit-image==0.21.0
scikit-learn==1.4.2
scipy==1.15.3
threadpoolctl==3.6.0
tifffile==2025.5.10
